"*":
  "atom-beautify":
    _analyticsUserId: "73dc38ec-a819-4994-9643-df0154adfc62"
    general:
      _analyticsUserId: "f2f7c99e-a8cb-4d87-974d-072b3e5e68f2"
  "atom-text-editor[data-grammar=\"text html basic\"]:not([mini]), atom-text-editor[data-grammar~=\"jade\"]:not([mini]), atom-text-editor[data-grammar~=\"css\"]:not([mini]), atom-text-editor[data-grammar~=\"sass\"]:not([mini])":
    tab: "unset!"
  "autocomplete-plus": {}
  core:
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "*.pyc"
    ]
  editor:
    invisibles: {}
    tabType: "soft"
  emmet: {}
  "exception-reporting":
    userId: "7114340b-7dd6-a445-9644-56690075480c"
  "highlight-line":
    enableSelectionBorder: true
  tabs:
    enableVcsColoring: true
    usePreviewTabs: true
  "tabs-to-spaces":
    onSave: "untabify"
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
  "xml-formatter": {}
