packages: [
  "atom-beautify"
  "atom-jinja2"
  "change-case"
  "clipboard-history"
  "color-picker"
  "emmet"
  "git-plus"
  "highlight-line"
  "linter"
  "merge-conflicts"
  "minimap"
  "package-sync"
  "project-manager"
  "tabs-to-spaces"
  "xml-formatter"
]
