packages: [
  "atom-beautify"
  "atom-jinja2"
  "atom-oss-license"
  "change-case"
  "emmet"
  "gitignore-snippets"
  "highlight-line"
  "language-docker"
  "language-gitignore"
  "language-scala"
  "linter"
  "linter-clang"
  "merge-conflicts"
  "minimap"
  "pdf-view"
  "pretty-json"
  "sort-lines"
  "tabs-to-spaces"
  "xml-formatter"
]
